[Desktop Entry]
Name=System Update
Comment=System Updater that updates all your apt packages
Exec=/home/pi/.system-update/Update.sh
Icon=/home/pi/.system-update/update (1).png
Terminal=true
Type=Application
Categories=Utility
Path=
StartupNotify=false
